.gradient {
  position: relative;
}

.gradient-gb {
  display: none;

  @include mobile {
    display: block;
    position: absolute;
    z-index: -1;
    pointer-events: none;
    user-select: none;

    img {
      display: block;
      width: 100%;
    }

    &--1 {
      width: 40px;
      bottom: 30%;
      left: 0;
      transform: rotate(45deg);
    }

    &--2 {
      bottom: 15%;
      width: 70px;
      left: 3px;
    }

    &--3 {
      top: 0;
      right: -5px;
      width: 70px;
      transform: rotate(45deg);
    }

    &--4 {
      z-index: 2;
      right: 0;
      bottom: 15%;
      transform: rotate(45deg);
      width: 100px;
    }
  }
}
.gradient-block {
  max-width: 949px;
  margin: 64px auto 0 auto;
  position: relative;

  @include mobile {
    margin-top: 188px;
  }

  &__body {
    border-radius: 16px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
    padding-bottom: 54px;
    overflow: hidden;
    backdrop-filter: blur(20px); //wtF?

    &::after {
      position: absolute;
      display: block;
      content: "";
      left: 50%;
      top: -10px;
      width: 388px;
      height: 20px;
      border-radius: 90%;
      background: radial-gradient(#fff -25%, #29a6ef 95%);
      filter: blur(15px);
      transform: translateX(-50%);
    }

    &::before {
      position: absolute;
      display: block;
      content: "";
      left: 50%;
      bottom: -10px;
      width: 388px;
      height: 20px;
      border-radius: 90%;
      background: radial-gradient(#fff -25%, #29a6ef 99%);
      filter: blur(15px);
      transform: translateX(-50%);
    }

    @include mobile {
      &::before,
      &::after {
        display: none;
      }
    }

    &-helper {
      &::after {
        position: absolute;
        display: block;
        content: "";
        left: -10px;
        top: 50%;
        width: 20px;
        height: 287px;
        border-radius: 90%;
        background: radial-gradient(#fff -25%, #29a6ef 95%);
        filter: blur(15px);
        transform: translateY(-50%);
      }

      &::before {
        position: absolute;
        display: block;
        content: "";
        right: -10px;
        top: 50%;
        width: 20px;
        height: 287px;
        border-radius: 90%;
        background: radial-gradient(#fff -25%, #29a6ef 95%);
        filter: blur(15px);
        transform: translateY(-50%);
      }

      @include mobile {
        &::before,
        &::after {
          display: none;
        }
      }
    }

    @include mobile {
      padding-bottom: 36px;
      overflow: hidden;
    }
  }

  &__text {
    max-width: 723px;
    margin: 0 auto;
    padding-top: 54px;
    text-align: center;
    font-size: 22px;
    position: relative;

    @include mobile {
      font-size: 19px;
      text-align: left;
      padding: 24px 20px 0 18px;
      line-height: 1.26;

    }

    &-1 {

    }

    &-2 {
      padding-top: 41px;

      @include mobile {
        padding-top: 36px;
      }
    }
  }

  &__button {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: 36px;
    padding: 19px 45px;
    border: 1px solid transparent;
    border-radius: 30px;
    max-width: 196px;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;

    @include mobile {
      margin-top: 24px;
      line-height: 1.22;
      padding: 13px 35px;
      border-radius: 24px;
    }
  }
}

.button--light {
  color: var(--color-dark);
  background-color: var(--color-light);
}
