.how {
  max-width: 665px;
  margin: 0 auto;
  padding-top: 89px;
  position: relative;

  @include mobile {
    min-width: 339px;
    padding-top: 54px;
    margin: 0;
  }

  &__title {
    font-family: 'tele2_serif', 'serif';
    text-align: center;
    font-size: 38px;
    position: relative;

    @include mobile {
      text-align: left;
      font-size: 28px;
      line-height: 1.34;
    }
  }

  p {
    padding-top: 24px;
    text-align: center;
    font-size: 22px;

    @include mobile {
      text-align: left;
      padding-top: 18px;
      font-size: 19px;

    }
  }

  &__gb--5 {
    width: 68px;
    top: 25%;
    right: 0;

  }
}