body {
  font-family: var(--font-family-base);
  font-weight: 400;
  line-height: 1.28;
  color: var(--color-light);
  background-color: var(--color-dark);
}


a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}


a {
  text-decoration: none;
  color: inherit;
}
