:root {
  --color-dark: #1F2229;
  --color-light: #FFFFFF;
  --color-gray: #7A7A7A;

  --container-width: 1236px;
  --container-padding-x: 102px;

  --font-family-base: 'tele2_sans', 'sans-serif';

  --transition-duration: 0.2s;
}

$color-dark-test: #1F2229;